<p>
  Commenter: <%= comment.commenter %>
</p>
<p>
  Comment: <%= comment.body %>
</p>
<p>
  <%= link_to 'delete', [comment.photo, comment],
              method: :delete,
              data: { confirm: 'Are you sure?' } %>
</p>
